// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-lewagon {
    justify-content: space-between;
    background: black;
    color: white;
  }
.card {

 color: green
}
